body{
    margin: 0;
    background-color: #a8d08c;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 30px;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: black;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: inherit;
}
.navDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: larger;
    letter-spacing: 1px;
}
.navDiv img{
    padding: 0 3px 0 0;
}
.navDiv button{
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}
.albertAndIntro{
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
}
.intro {
    margin:  0 0 50px 0;
    padding: 15px;
    letter-spacing: 1px;
    border-radius: 20px;
    background-color: #fbf3cb;
    width: 87%;
    font-size: larger;
}
.albertAndIntro button{
    border: none;
    padding: 20px;
    border-radius: 10px;
    letter-spacing: 1px;
    font-size: 40px;
    cursor: pointer;
}
.albertAndIntro :nth-child(2){
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}
.magnetsAndDrag{
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.magnetsAndDrag :nth-child(1){
    display: flex;
    flex-direction: column;
}
.magnetsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 25vw;
    border-radius: 15px;
    border-style: dotted;
    background-color: beige;
    letter-spacing: 1px;
    font-weight: 600;
}
.magnetsContainer img{
    cursor: move;
}
.draggingText{
    border-style: solid;
    border-radius: 15px;
    background-color: beige;
    margin: 20px 0 2px 20px ;
    padding: 10px;
    text-align: left;
    position: relative;
}
.drag{
    display: flex;
    flex-direction: column;
}
.emptySpace{
    margin: 5px 0 0 5px;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ironBar{
    height: 30px;
    width: 250px;
    margin: 15px;
    background-color: gray;
    border-style: solid;
    border-color: black;
}
.allBars{
    margin: 35px;
}
.credits{
    margin-top: 100px;
    margin-left: 10px;
}
.directionDiv{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    font-size: large;
    margin: 20px 0 2px 2px;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}
.divToStoreAnimation{
    display: flex;
    align-items: center;
    justify-content: center;
}
#arrownimation{
    animation: GFG 4s linear infinite ;
   position: relative;
    padding: 10px;
    height: 50px;
}
@keyframes GFG {
    0% {
         top: 0;
         left: -220px;
     }
     24%{
         rotate: 0deg;
     }
     25% {
         left: 250px;
         top: 0;
         rotate: -90deg;
     }
     49%{
         rotate: -90deg;
     }
     50% {
         left: 250px;
         top: -100px;
         rotate: -180deg;
     }
     74%{
         rotate: -180deg;
     }
     75% {
         left: -220px;
         top: -100px;
         rotate: -270deg;
     }
     99%{
         rotate: -270deg;
     }
     100% {
         left: -220px;
         top: 0;
         rotate: -360deg;
     }
     
 }

#clippedDiv{
    display: flex;
    width: 80%;
    justify-content: end;
}
#aBarDiv{
    display: flex;
    width: 100%;
    align-items: end;
}
 
@keyframes movement {
    0%{
        left:20px
    }
    100%{
        left: 500px
    }
}